@import './order-page';

:root {
	/* Global colour variables */
	--ug-nude: #f1ede3;
	--ug-green: #154734;
	--light: #FFFEF6;
	--dark: #102E46;
	/* Override Frappe Desk global colours with new colours */
	--text-color: var(--ug-green) !important;
	--heading-color: var(--ug-green) !important;
	--icon-stroke: var(--ug-green) !important;
	--text-light: var(--dark) !important;
}

.for-login .page-card,
.for-forgot .page-card,
.for-login-with-email-link .page-card,
.for-signup .page-card,
.for-email-login .page-card {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: var(--ug-nude) !important;
    box-shadow: var(--shadow-base);
  }
  
body {
	
		background-color: #ffffff !important;
	
}
.section-title {
	color: #f1ede3;
}
.section-description {
color: var(--ug-nude);
}

body {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #000000;
}
html {
	background-color: #ffffff;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-light);
	background-color: #ffffff;

	&.full-width {
	
		.container {
				width: 90%;
				max-width: 100%;
			}
		
	}
}


.filter-options {
	max-height: 300px;
	overflow: auto;
}

.address-card {
	cursor: pointer;
	position: relative;

	.check {
		display: none;
	}

	&.active {
		border-color: var(--primary);

		.check {
			display: inline-flex;
		}
	}
}

.check {
	display: inline-flex;
	padding: 0.25rem;
	background: var(--primary);
	color: white;
	border-radius: 50%;
	font-size: 12px;
	width: 24px;
	height: 24px;
}

.website-list {
	background-color: var(--fg-color);
	padding: 0 var(--padding-lg);
	border-radius: var(--border-radius-md);

	@media screen and (max-width: 567px) {
		margin-left: -2rem;
	}

	&.result {
		border-bottom: 1px solid var(--border-color);
	}
}

.transaction-list-item {
	padding: 1rem 0;
	border-bottom: 1px solid var(--border-color);
	position: relative;

	&:only-child, &:last-child {
		border: 0;
	}

	a.transaction-item-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-decoration: none;
		opacity: 0;
		overflow: hidden;
		text-indent: -9999px;
		z-index: 0;
	}
}

.place-order-container {
	text-align: right;
}

.kb-card {
	.card-body > .card-title {
		line-height: 1.3;
	}
}

.list-item-name, .item-total {
	font-size: var(--font-size-sm);
}

.items-preview {
	@media screen and (max-width: 567px) {
		margin-top: 1rem;
	}
}
.navbar-light .navbar-toggler .icon {
    stroke: #f1ede3;
}
.navbar-light {
	border-bottom: 1px solid #154734;
	background: #154734;
	height: 59px;
}
.navbar-light .navbar-toggler {
    border-color: rgb(253, 253, 231);
}
.navbar-light .navbar-nav .nav-link {
    color: #d9ffcf;
    font-size: 0.9975rem;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #3dfa6c;
    font-size: 0.875rem;
    font-weight: 500;
}
.navbar-brand img {
    display: inline-block;
    max-width: 51px !important;
    max-height: 49px !important;
}
.btn.btn-primary {
	background-color: var(--ug-green);
	color: #f1ede3;
	white-space: nowrap;
	--icon-stroke: currentColor;
	--icon-fill-bg: var(--ug-green);
}
.text-muted {
    color: #248106 !important;
}
.sidebar-item a.active {
    color: #f1ede3;
    background-color: #154734;
}

.web-footer {
	padding: 3rem 0;
	
	background-color: var(--ug-green);
}
h4 {
	color: #ffffff;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
	
    color: #ffffff;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
	height: 350px;
    border-top: 0px solid #154734;
}